
*{
    font-family: 'Raleway', sans-serif;
    margin:0;
    padding:0;
    box-sizing: border-box;
}


body{
    margin-left:55px;
}

header{
    height: 99px;
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    margin-bottom:27px;
}

#logo2{
    width:3.1em;
    height:19px;
    margin-top: 44px;
}

#conteneurLogo{
    display: flex;
    align-items: center;
    width:3.8em;
    height:19px;
    top:44px;
}

#hebergements, #activites{
    font-size:16px;
    color:#000000;
    text-decoration:none;
    border-top: 2px solid transparent;
    padding-top:40px;
}

#hebergements:hover, #activites:hover{
    border-top:2px solid #0065fc;
    color:#0065fc;
    padding-top:40px;
}

#selectionHebergementOuActivites{
    display:flex;
    justify-content:flex-end;
}

#hebergements{
    width: 10.12em;
    height: 19px;
    margin-right:2em;
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
}

#activites{
    width: 7em;
    height:19px;
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
}

.label1{
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
}

.position4{
    margin-bottom:8px;
}

#formulaire1{
    display:flex;
    flex-direction: row;
    align-items: center;
    width: 332px;
}

.fa-magnifying-glass, #boiteIconeLoupe{
    visibility: hidden;
}


#rechercherAvecLoupe{
    border-radius: 0px 15px 15px 0px;
    background: #0065FC;
    align-items: center;
    width: 49px;
    height: 49px;
    border: 1px solid #0065FC;
}


#ville::placeholder{
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
}

i.fa-location-dot{
    color: #000000;
    position:absolute;
    left:18px;
    top:15px;
}

.label2{
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}

.position5{
    margin-bottom:20px;
}

form{
    margin-bottom: 31px;
    position: relative;
}

#fondGrisGeolocalisation{
    border-radius:15px 0 0 15px;
    background: #F2F2F2;
    width: 2.4em;
    height: 49px;
    position: absolute;
}

#ville{
    border-radius: 15px;
    border: 1px solid #F2F2F2;
    width: 20.75em;
    height: 49px;
    color: #000000;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    padding-left:65px;
    outline: none;
}

#rechercher{
    border-radius: 0px 15px 15px 0px;
    background: #0065FC;
    font-weight: 700;
    color: white;
    font-size: 18px;
    line-height: 21px;
    width: 270px;
    height: 49px;
    border: 1px solid #0065FC;
    position: relative;
    left:-1em;
}

#boiteIconeLoupe{
    width: 49px;
    height: 49px;
    position:absolute;    
}


.fa-magnifying-glass{
    color:#FFFFFF !important;
    height: 20px;
    position:relative;
    left: 272px;
    top:-40px;
}


.label0{
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
    width: 54px;
    margin-right:12px;
}

#formulaire2{
    display:flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: auto;
}


.economique:hover, .familial:hover, .romantique:hover, .animaux:hover{
    background-color: #DEEBFF;
}

.economique, .familial, .romantique, .animaux{
    background-color: #FFFFFF;
    border-radius: 25px;
    border: 2px solid #D9D9D9;
    height: 50px;
    font-weight: 700;
    font-size: 17px;
    line-height: 20px;
}

.fa-solid{
    color:#0065FC;
}
.economique{
    width: 151px;
}
.familial{
    width: 106px;
}
.romantique{
    width: 150px;
}
.animaux{
    width: 207px;
}

.fa-money-bill-wave, .fa-person, .fa-heart, .fa-dog{
    padding-right:12px;
}


#boiteIconeInformation{
    position:relative;
}

#cercle{
    position:absolute;
    top:-2px;
    left:7px;
    height: 24px;
    width: 24px;
    border-radius: 50%;
    border: 1px solid #D9D9D9;
}

.fa-info{
    position:absolute;
    left:16px;
    color: #0065FC;
    scale:60%;
}

#label3{
    margin-left: 40px;
    margin-bottom: 37px;
}


.fond1GrisArrondi{
    display: flex;
    flex-direction:column;
    background: #F2F2F2;
    border-radius: 20px;
    width:auto;
    height: 626px;
    margin-right: 52px;
    margin-bottom: 60px;
    padding: 0 40px 0 40px;
}

.fond3GrisArrondi{
    background: #F2F2F2;
    border-radius: 20px;
    /* width: 420px; */
    height: 625px;
}

.affichageResultatHebergementsEtLesPlusPopulaires{
    display:flex;
    flex-direction: row;
}

#affichageLesPlusPopulaires{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 2.3em;
}

.carteStyle1{
    height: 199px;
    width: 13.4em;
    background: #FFFFFF;
    border-radius: 20px;
    
}

.position{
    margin:40px 0 0 0;
    height: 49px;
}


.fond1BlancArrondi{
    width: 12.3em;
    height: 203px;
    background-color:#FFFFFF;
    border-radius: 20px;
    margin-bottom: 10px;
    box-shadow: 5px 5px 20px 1px rgba(100, 100, 129, 0.1);
    position:relative;
}


.scaleDeLimage{
    border: 5px solid #FFFFFF;
    width: 12.3em;
    height: 124px;
    border-radius: 20px 20px 0 0;
    object-fit:cover;
}

.label3{
    font-weight: 700;
    font-size: 17px;
    line-height: 20px;
    color: #000000;
}

.position7{
    margin-left: 1em;
    margin-bottom: 5px;
}

.label4{
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #000000;
}

.position8{
    margin-left: 1.1em;
    margin-bottom: 5px;
}

.conteneurEtoilesPopulaires{
    display:flex;
    flex-direction:row;
    position:absolute;
    top: 115px;
    margin-left:0.3em;
}

.conteneurEtoilesHebergements{
    display:flex;
    flex-direction:row;
    position:absolute;
    top: 175px;
    margin-left:0.3em;
}


.etoile{
    width: 12px;
    height: 12px;
    margin-left:0.3em;
    scale:70%;
}

.derniereEtoile{
    color:#F2F2F2;
}

#fond2GrisArrondi{
    width: 20.85em;
    height: 625px;
    background: #F2F2F2;
    border-radius: 20px;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

#conteneurDesCartesHebergements{
    display:flex;
    flex-direction:row;
    overflow-x:hidden;
    overflow-y:scroll;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    height: 460px;
}

.label5{
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
    text-decoration: none;
}


#conteneurActivitesAMarseille{
    display:flex;
    flex-direction: column;
    height: 504px;
    background-color:#FFFFFF;
    margin-bottom: 60px;
    overflow:hidden;
}

.position2{
    margin-bottom: 18.47px;
}

#conteneurfond2Blanc{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    overflow-x: hidden;
    height: 498px;
}

.fondBlancArrondi{
    width: 15.1em;
    height: 444.5px;
    border-radius: 20px;
    box-shadow: 5px 5px 10px 3px rgba(70, 70, 87, 0.1);
}

.fond2BlancArrondi{
    width:15.1em;
    height: 444px;
    border-radius: 20px;
    box-shadow: 5px 5px 10px 3px rgba(70, 70, 87, 0.1);
}

.scaleDeLimage2{
    height: 388px;
    width: 15.1em;
    object-fit:cover;
    border-radius: 20px 20px 0 0;
}

.label6{
    font-weight: 700;
    font-size: 17px;
    line-height: 20px;
    color: #000000;
    margin: 13px 0 21px 19px;

}

#fond3GrisCarre{
    display:flex;
    flex-direction:row;
    justify-content: space-around;
    width: auto;
    height: 191px;
    background: #F2F2F2;
}

.dimensionsColomneInformationFooter{
    width: auto;
    height: 182px;
    display: flex;
    flex-direction: column;

}

.position9{
    margin-top: 38px;
    margin-bottom: 21px;
}

.position10{
    margin-bottom: 8px;
}


#fond5GrisArrondi{
    display:flex;
    flex-direction: column;
    height: 625px;
    width: auto;
    background: #F2F2F2;
    border-radius: 20px;
    padding: 0 40px 0 37px;
}

#enteteLesPlusPopulaires{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    height: 94px;
}

.fond5BlancArrondi{
    display:flex;
    flex-direction:row;
    width: 17.5em;
    height: 144px;
    background: #FFFFFF;
    border-radius: 20px;
    box-shadow: 5px 5px 20px 1px rgba(100, 100, 129, 0.1);
}

#conteneurLesPlusPopulaires{
    display:flex;
    flex-direction: column;
    height: 498px;
    width: 326px;
    margin: auto;
    justify-content: space-between;
    align-items: center;
}

.scaleDeLimage3{
    height: 144px;
    width: 145px;
    border: 5px solid #FFFFFF;
    border-radius: 20px 0px 0px 20px;
    object-fit: cover;
}

.conteneurDescriptifLesPlusPopulaires{
    display:flex;
    flex-direction: column;
    position: relative;
}

.position12{
    margin: 13px 1em 0 1.1em;
}

.position13{
    margin: 38px 1em 0 0.2em;
}

.label7{
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
}

.label8{
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}

.position15{
    margin-top:45px;

}

.position11{
    margin-right: 20px;
}




/* Breakpoint de fixation : on bloque la largeur max a 1401 px pour les tres grands ecrans */
/* 1400px moins la marge a gauche */
@media screen and (min-width:1401px){
    body{
        /* 1400px moins la marge de 55px a gauche */
        width:1355px;
    }
}




/* Breakpoint pour tablettes */
@media screen and (min-width: 768px) and (max-width:991px){
    .affichageResultatHebergementsEtLesPlusPopulaires{
        flex-direction:column;
    }

    #formulaire2{
        width: auto;
    }

    .fond1GrisArrondi{
        margin-bottom: 53px;
    }

    #conteneurLesPlusPopulaires{
        overflow: hidden;
        flex-direction:row;
        align-items: flex-start;
        padding-right: 50px;
        width: auto;
    }

    #enteteLesPlusPopulaires{
        width: auto;
    }


    #fond5GrisArrondi{
        height: 278px;
        overflow-x: hidden;
        margin-right:50px;
    }

    .position{
        height: 26px;
        margin:34px 0 26px 0;
    }

    .conteneurEtoiles{
        margin:0 20px 0 4px;
    }

    .fond5BlancArrondi{
        width: 252px;
        margin-right: 23px;
    }

    .scaleDeLimage3{
        width: 106px;
        height: 144px;
    }

    .newFormat1{
        width: 111px;
        height: auto;
        font-weight: 700;
        font-size: 14px;
        line-height: 16px;
        margin-bottom: 7px;
    }

    .newFormat2{
        margin-top: 0;
    }

    .conteneurEtoiles{
        position:absolute;
        top: 115px;
    }

    .fond5BlancArrondi:nth-child(3){
        overflow: hidden;
    }

    #conteneurActivitesAMarseille{
        margin-right: 50px;;
        overflow:hidden;
        margin-top: 60px;
        margin-right:52px;
        height: 325px;
    }

    #conteneurfond2Blanc{
        height: 280px;
    }

    .fond2BlancArrondi{
        width:9.1em;
        height: 267px;
    }

    .scaleDeLimage2{
        width: 182px;
        height: 211px;
    }

    .position14{
        margin-top: 6px;
    }

    #fond3GrisCarre{
        margin-right:52px;
    }

    #selectionHebergementOuActivites{
        margin-right:52px;
    }
}


/* Breakpoint pour telephones portables */
@media screen and (max-width:767px){
    body{
        margin-left:0;
    }


    header{
        flex-direction: column;
    }


    #conteneurLogo{
        margin:0 auto;
    }


    #hebergements:hover, #activites:hover{
        justify-content: space-between;
        border-top:none;
        border-bottom: 2px solid #0065fc;
        color:#0065fc;
        padding-bottom:30px;
        padding-top:0;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
    }


    #hebergements, #activites{
        width: 50%;
        color:#000000;
        border-top: none;
        border-bottom: 2px solid transparent;
        padding-bottom:30px;
        margin-right:0;
        padding-top:0;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
    }

    .label1{
        margin: 0 20px 0 20px;
    }

    .label2{
        margin-left: 20px;
        margin-bottom: 36px;
    }


    #rechercher{
        border-radius: 0px 15px 15px 0px;
        background: #0065FC;
        font-weight: 700;
        color: white;
        font-size: 18px;
        line-height: 21px;
        width: 7.2em;
        height: 49px;
        border: 1px solid #0065FC;
        position: relative;
        }


    #formulaire1{
        margin-left: 20px;
    }


    #rechercher{
        visibility: hidden;
    }

    #rechercherAvecLoupe{
        visibility:visible;
        width: 49px;
        height: 49px;
        position:relative;
        left:14.9em;
    }

    .fa-magnifying-glass{
        visibility: visible;
    }

    .economique, .familial, .romantique, .animaux{
        width: 150px;
    }

    .economique, .familial, .romantique, .animaux{
        display:flex;
        justify-content: flex-start;
        align-items: center;
        padding-left:12px;
        height: 50px;
        font-weight: 700;
        font-size: 11px;
        line-height: 13px;
        margin-bottom:17px;
    }

    #formulaire2{
        flex-direction:column;
        align-items: flex-start;
        margin: 0 20px 0 20px;
        height: auto;
    }

    .label0{
        margin-bottom:15px;
    }

    #conteneurBoutonsFiltres{
        display:flex;
        flex-wrap: wrap;
        width: auto;
        justify-content: space-between;
        margin-bottom: 26px;
    }

    #boiteIconeInformation{
        left: 13px;
    }

    #label3{
        margin-left: 53px;
        margin-bottom: 37px;
    }

    .affichageResultatHebergementsEtLesPlusPopulaires{
        margin: 0;
        flex-direction:column-reverse;
    }

    #fond5GrisArrondi{
        border-radius: 0;
        padding: 0 20px 0 20px;
        height: 580px;
        margin-bottom: 26px;
    }

    #enteteLesPlusPopulaires{
        width: auto;
        height: 54px;
        height: 26px;
    }

    .fa-chart-line{
        margin-top:0;
    }


    #conteneurHebergementsAMarseille{
        display:flex;
        margin: auto;
        width: auto;
    }

    .newPosition{
        width: 270px;
        margin:auto;
    }

    .fond5BlancArrondi{
        margin: 0 20px 11px 20px;
        width: 334px;
    }

    #conteneurLesPlusPopulaires{
        justify-content: flex-start;
    }
    
    .fond1GrisArrondi{
        background: #FFFFFF;
        margin-right: 0;
        margin:auto;
        width: 376px;
        padding: 0 20px 0 20px;
        height: 1325px;
        align-items: center;
        margin-bottom: 75px;
    }

    .fa-chart-line{
        padding-right:20px;
    }


    #enteteLesPlusPopulaires{
        width: 326px;
        margin: auto;
    }

    #conteneurDesCartesHebergements{
        justify-content: space-around;
        height: 1300px;


    }

    .fond1BlancArrondi{
        width: 335px;
        margin-bottom: 12px;
        height: 199px;
    }

    .scaleDeLimage{
        width: 335px;
    }

    .position{
        margin:0;
        padding: 0;
    }

    .label5{
        display:none;
    }

    #conteneurfond2Blanc{
        flex-direction:column;
        overflow:visible;
        align-items: center;
        height: 932px;
        padding-bottom: 80px;
    }

    #conteneurActivitesAMarseille{
        overflow: visible;
        height: 936px;

        width: 382px;
        margin: auto;
    }


    .position2{
        width: 212px;
        padding-bottom: 24px;
    }

    .fond2BlancArrondi{
        width: 334px;
        height: 190px;
        margin-bottom: 24px;
    }

    .scaleDeLimage2{
        height: 134px;
        width: 334px;
    }

    #fond3GrisCarre{
        width: auto;
        display:flex;
        flex-direction:column;
        padding: 0 20px 0 20px;
        justify-content: space-around;
        height: 451px;
    }

    .titreActiviteAMarseille{
        display:flex;
        justify-content: flex-start;
        padding: 0 20px 0 0;
        width: 312px;
    }

}