
*{
    font-family: 'Raleway', sans-serif;
    margin:0;
    padding:0;
    box-sizing: border-box;
}


body{
    margin-left:55px;
}

header{
    height: 99px;
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    margin-bottom:27px;
}

#logo2{
    width:3.1em;
    height:19px;
    margin-top: 44px;
}

#conteneurLogo{
    display: flex;
    align-items: center;
    width:3.8em;
    height:19px;
    top:44px;
}

#hebergements, #activites{
    font-size:16px;
    color:#000000;
    text-decoration:none;
    border-top: 2px solid transparent;
    padding-top:40px;
}

#hebergements:hover, #activites:hover{
    border-top:2px solid #0065fc;
    color:#0065fc;
    padding-top:40px;
}

#selectionHebergementOuActivités{
    display:flex;
    justify-content:flex-end;
}

#hebergements{
    width: 10.12em;
    height: 19px;
    margin-right:2em;
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
}

#activites{
    width: 7em;
    height:19px;
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
}

.label1{
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
}

.position4{
    margin-bottom:8px;
}

#ville::placeholder{
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
}

i.fa-location-dot{
    color: #000000;
    position:absolute;
    left:0.9em;
    top:15px;
}

.label2{
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}

.position5{
    margin-bottom:20px;
}

form{
    margin-bottom: 31px;
    position: relative;
}

#fondGrisGeolocalisation{
    border-radius:15px 0 0 15px;
    background: #F2F2F2;
    width: 2.4em;
    height: 49px;
    position: absolute;
}

#ville{
    border-radius: 15px;
    border: 1px solid #F2F2F2;
    width: 20.75em;
    height: 49px;
    color: #000000;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    padding-left:67px;
    outline: none;
}

#rechercher{
    border-radius: 0px 15px 15px 0px;
    background: #0065FC;
    align-items: center;
    font-weight: 700;
    color: white;
    font-size: 18px;
    line-height: 21px;
    width: 7.2em;
    height: 49px;
    border: 1px solid #0065FC;
    position: relative;
    left:-5.8em;
}

.label0{
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
    width: 3em;
}

#formulaire2{
    width: 49.5em;
    display:flex;
    align-items: center;
}

#budjet:hover, #familial:hover, #romantique:hover, #animaux:hover{
    background: #DEEBFF;
}

#budjet, #familial, #romantique, #animaux{
    border: 2px solid #D9D9D9;
    background-color: #FFFFFF;
    border-radius: 25px;
    margin-right: 1.9em;
    height: 50px;
    position: relative;
    left:1.4em;
    font-weight: 700;
    font-size: 17px;
    line-height: 20px;
    color: #000000;

}


input#budjet{
    width: 10.9em;
}

#familial{
    width:8.4em;
}

#romantique{
    width: 10.65em;
}

#animaux{
    width: 14.3em;
}

form{
    position: relative;
}

.fa-solid{
    position:absolute;
    color:#0065FC;
}

.fa-money-bill-wave{
    left:5em;
    top:15px;
}

.fa-person{
    left:16.3em;
    top:15px;
}

.fa-heart{
    left:24.7em;
    top:15.1px;
}

.fa-dog{
    left:35.7em;
    top:15.1px;
}

.fa-chart-line{
    position:relative;
    left:4.3em;
}

#boiteIconeInformation{
    position:relative;
}

#cercle{
    position:absolute;
    top:-2px;
    left:7px;
    height: 24px;
    width: 24px;
    border-radius: 50%;
    border: 1px solid #D9D9D9;
}

.fa-info{
    position:absolute;
    left:16px;
    color: #0065FC;
    scale:60%;
}

#label3{
    margin-left: 40px;
    margin-bottom: 37px;
}


.fond1GrisArrondi{
    display: flex;
    flex-direction:column;
    background: #F2F2F2;
    border-radius: 20px;
    width: 44em;
    height: 626px;
    margin-right: 45px;
    margin-bottom: 60px;
}

.fond3GrisArrondi{
    background: #F2F2F2;
    border-radius: 20px;
    width: 420px;
    height: 625px;
}

.affichageResultatHebergementsEtLesPlusPopulaires{
    display:flex;
    flex-direction: row;
}

#affichageLesPlusPopulaires{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 2.3em;
}

.carteStyle1{
    height: 199px;
    width: 13.4em;
    background: #FFFFFF;
    border-radius: 20px;
    
}

.position{
    margin:42px 0 0 40px;
    height: 49px;
}


.fond1BlancArrondi{
    width: 12.3em;
    height: 203px;
    background-color:#FFFFFF;
    border-radius: 20px;
    margin-bottom: 30px;
    box-shadow: 5px 5px 20px 1px rgba(100, 100, 129, 0.1);
}


.scaleDeLimage{
    border: 5px solid #FFFFFF;
    width: 12.3em;
    height: 124px;
    border-radius: 20px 20px 0 0;
    object-fit:cover;
}

.label3{
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
}

.position7{
    margin-left: 1em;
    margin-bottom: 5px;
}

.label4{
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #000000;
}

.position8{
    margin-left: 1.1em;
    margin-bottom: 5px;
}

.conteneurEtoiles{
    display:flex;
    flex-direction:row;
}

.conteneurEtoiles{
    margin-left:0.3em;
}

.etoile{
    width: 12px;
    height: 12px;
    margin-left:0.3em;
    scale:70%;
}

.derniereEtoile{
    color:#F2F2F2;
}

#fond2GrisArrondi{
    width: 20.85em;
    height: 625px;
    background: #F2F2F2;
    border-radius: 20px;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

#conteneurDesCartesHebergements{
    display:flex;
    flex-direction:row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    height: 406px;
}

.label5{
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
    text-decoration: none;
}


#conteneurActivitesAMarseille{
    display:flex;
    flex-direction: column;
    width: 68em;
    height: 493px;
    background-color:#FFFFFF;
    margin-bottom: 60px;
}

.position2{
    margin-bottom: 18.47px;
}

#conteneurfond2Blanc{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    width:67.1em ;
    height: 493px;
}

.fondBlancArrondi{
    width: 15.1em;
    height: 444.5px;
    border-radius: 20px;
    box-shadow: 5px 5px 10px 3px rgba(70, 70, 87, 0.1);
}

.fond2BlancArrondi{
    width:15.1em;
    height: 444px;
    border-radius: 20px;
    box-shadow: 5px 5px 10px 3px rgba(70, 70, 87, 0.1);
}

.scaleDeLimage2{
    height: 388px;
    width: 15.1em;
    object-fit:cover;
    border-radius: 20px 20px 0 0;
}

.label6{
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    margin: 13px 0 21px 19px;
}

#fond3GrisCarre{
    display:flex;
    flex-direction:row;
    width: 67.1em;
    height: 191px;
    background: #F2F2F2;
}

.dimensionsColomneInformationFooter{
    width: 10em;
    height: 130px;
    display: flex;
    flex-direction: column;
}

.position9{
    margin-top: 38px;
    margin-bottom: 21px;
}

.position10{
    margin-bottom: 8px;
}

.position11{
    margin:0 7.5em 0 3.4em;
}

#fond5GrisArrondi{
    display:flex;
    flex-direction: column;
    height: 625px;
    width: 21.1em;
    background: #F2F2F2;
    border-radius: 20px;
}

#enteteLesPlusPopulaires{
    display:flex;
    flex-direction: row;
    /* justify-content: space-around; */
    width: 21em;
    height: 94px;
}

.fond5BlancArrondi{
    display:flex;
    flex:row;
    width: 17.5em;
    height: 144px;
    background: #FFFFFF;
    border-radius: 20px;
    box-shadow: 5px 5px 20px 1px rgba(100, 100, 129, 0.1);
}

#conteneurLesPlusPopulaires{
    display:flex;
    flex-direction: column;
    height: 498px;
    justify-content: space-between;
    align-items: center;
}

.scaleDeLimage3{
    height: 144px;
    width: 145px;
    border: 5px solid #FFFFFF;
    border-radius: 20px 0px 0px 20px;
    object-fit: cover;
}

.conteneurDescriptifLesPlusPopulaires{
    display:flex;
    flex-direction: column;
}

.position12{
    margin: 13px 1em 0 1.1em;
}

.position13{
    margin: 38px 1em 0 0.2em;
}





/* Breakpoint de fixation : on bloque la largeur max a 1400 px pour les tres grands ecrans */
/* 1400px moins la marge a gauche */
@media screen and (min-width:1400px){
    body{
        /* 1400px moins la marge de 55px a gauche */
        width:1355px; 
        }
}



/* Breakpoint pour les grands écrans */
@media screen and (min-width:992px) and (max-width:1400px){

          
    
}



/* Breakpoint pour tablettes */
@media screen and (min-width: 768px) and (max-width:991px){


}



/* Breakpoint pour telephones portables */
@media screen and (max-width:767px){

}


